@import "tailwindcss";

/* En tu archivo global CSS (por ejemplo, styles.css) */
.text-stroke {
  -webkit-text-stroke: 5px white;
  text-stroke: 10px white;
}

/* Clases de fuentes */
.font-playwrite {
  font-family: var(--font-playwrite);
}
